* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    font-family: Verdana, Tahoma, sans-serif;
    }
    header {
      display: flex;
      background: linear-gradient(90deg, rgb(118, 135, 120) 0%, rgb(76, 86, 79) 0%, rgba(99, 101, 99, 0.928) 0%);
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 122px;
      }

      li, a, button {
         font-family: 'Montserrat';
         font-size: 17px;
         color: whitesmoke;
         text-decoration: none;     
      }
     .logo img{
         width: 150px;
         height: 145px;
         /* margin-left: 0; */
         /* margin-right: 100px; */
         flex: 1;
         padding-top: 2%;
         display: inline;
     }
     .nav_head{
         width: auto;
         color: aliceblue;
         font-family: 'Bradley Hand ITC';
         flex: 2;       }

     .navi_menu{
         list-style: none;
         width: 100%;
         padding-top: 0%;
         display: flex;
     }
     .navi_menu li {
        transition: all 0.3s ease 0s;

     }
     .navi_menu li :hover{
         color: rgb(231, 241, 230);
     }
     .navi_menu li {
        display: inline-block;
        justify-content: right;
        padding: 0px 10px;
     }
     .navi_menu a{
      text-decoration: none;
      color: rgb(255, 255, 255);
     }
     button{
         padding: 9px 9px 10px 10px;
         background-color: rgb(34, 162, 49);
         border: none;
         border-radius: 10px;
         cursor: pointer;
         transition: all 0.3s ease 0s;
         align-items: center;
         width: 130px;
         height: 50px;
     }
         button:hover{
            background-color: darkblue;
         }
         button:active{
            background-color: rgb(139, 51, 0);
            scale: 0.95;
         }


      
    body {
     font-family: Arial, Helvetica, sans-serif;
     line-height: 1.6;
     background-color: gainsboro;

    }
     h2{
      text-align: center;
     }

     
     #popup-window {
      position: fixed;
      width: 300px;
      height: 200px;
      background: white;
      border: 1px solid black;
      padding: 10px;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      display: none;
    }        





    .wrapper{
        width: 80%;
        display: flex;
        height: 190px;
        margin: 100px auto;
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        text-align: center; 
      }
    .imagelogo img {
        max-width: 250px; /* Ensure the image doesn't exceed the width of its container */
        height: 250px; /* Maintain the aspect ratio of the image */
        border-radius: 100%;
        border: 2px solid;
        object-fit: cover;
        margin-right: 20px;
        display: flex;
     }
    .wrap_text p{
        color: rgb(0, 0, 0);
        display: flex;
        font-size: 26px;
        flex-direction: column;
        text-align: center;
        display: flex;
        padding-left: 10px;
        font-family: 'Matura MT Script Capitals','Bradley Hand ITC', fantasy;
      }

   .depcontainer{
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height: 720px;
      background-position: center;
      background-size: cover;
      background:url('homesl2.jpg') fixed center;
      background-repeat: 100%;
      background-attachment: fixed;
      }
   .dephead2 h2{
      font-size: 35px;
      color: rgb(0, 0, 0);
      flex-direction: column;
      text-align: center;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
      }
   .deppara2 p{
      color: rgb(0, 0, 0);
      font-size: 22px;
      flex-direction: column;
      text-align: left;
      display: inline;
      justify-content:left;
      font-family: Arial, Helvetica, sans-serif;
      }

   .depimg1 img{
      height: auto;
      width: auto;
      object-fit: cover;
      display: flex;
      float: left;
      display: flex;
      padding: 20px;
      flex-direction: column;
      }

   .homeslide{
      background: url('homesl7.jpeg');
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height:850px;
      background-position: center;
      background-size: cover;
      background-clip: border-box;
      display: flex;
      background-attachment: fixed;  }
   .homeslide h2{
         color: aliceblue;
         text-align: center;
         margin-top: 17%;
         margin-left: 38%;
         font-family: 'segeo ui black';
         font-size: 90px;
         cursor: pointer;
         background-attachment: fixed;
         max-height: 8px;
      }
   .homeslide h2:hover{
         transition: all 0.8s ease 0s;
         color: rgb(73, 168, 64);
      }
   .leopardslide{
      background: url('leopard2.jpg');
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height:850px;
      background-position: center;
      background-size: cover;
      background-clip: border-box;
      display: flex;
      background-attachment: fixed;  }
   .leopardslide h1{
      color: rgb(214, 237, 237);
      text-align: center;
      margin-top: 17%;
      margin-left: 36%;
      font-family: 'wide latin';
      font-size: 55px;
       cursor: pointer;
      background-attachment: fixed;
      max-height: 8px;
         }
   .introslide{
      background-color: rgb(252, 252, 252);
      /* background: url('hortainplains2.jpg')black no-repeat; */
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height:610px;
      background-position: center;
      background-size: cover;
      background-clip: border-box;
      display: flex;
      background-attachment: fixed;

}
   .introslide h1{
      color: rgb(40, 41, 41);
      text-align: center;
      margin-top: 12%;
      margin-left: 23%;
      font-family: 'segeo ui black','salsa';  
      font-size: 80px;
      cursor: pointer;
      max-height: 8px;
   
   }
   .maduruoyaslide{
      background-color: rgb(252, 252, 252);
      /* background: url('hortainplains2.jpg')black no-repeat; */
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height:610px;
      background-position: center;
      background-size: cover;
      background-clip: border-box;
      display: flex;
      background-attachment: fixed;

}

   .maduruoyaslide h1{
      color: rgb(40, 41, 41);
      text-align: center;
      margin-top: 12%;
      margin-left: 23%;
      font-family: 'segeo ui black','salsa';  
      font-size: 80px;
      cursor: pointer;
      max-height: 8px;
      
      }

   .wasgamuwaslide{
      background-color: rgb(252, 252, 252);
      /* background: url('hortainplains2.jpg')black no-repeat; */
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height:610px;
      background-position: center;
      background-size: cover;
      background-clip: border-box;
      display: flex;
      background-attachment: fixed;
   
   }
   
   .wasgamuwaslide h1{
      color: rgb(40, 41, 41);
      text-align: center;
      margin-top: 12%;
      margin-left: 23%;
      font-family: 'segeo ui black','salsa';  
      font-size: 80px;
      cursor: pointer;
      max-height: 8px;
         
         }
   .udawalawaslide{
      background-color: rgb(252, 252, 252);
      /* background: url('hortainplains2.jpg')black no-repeat; */
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height:610px;
      background-position: center;
      background-size: cover;
      background-clip: border-box;
      display: flex;
      background-attachment: fixed;
         
         }
         
   .udawalawaslide h1{
      color: rgb(40, 41, 41);
      text-align: center;
      margin-top: 12%;
      margin-left: 23%;
      font-family: 'segeo ui black','salsa';  
      font-size: 80px;
      cursor: pointer;
      max-height: 8px;
               
     }
      
   .hortainplainsslide{
      background-color: rgb(252, 252, 252);
      /* background: url('hortainplains2.jpg')black no-repeat; */
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height:610px;
      background-position: center;
      background-size: cover;
      background-clip: border-box;
      display: flex;
      background-attachment: fixed;
         
         }
         
   .hortainplainsslide h1{
      color: rgb(40, 41, 41);
      text-align: center;
      margin-top: 12%;
      margin-left: 23%;
      font-family: 'segeo ui black','salsa';  
      font-size: 80px;
      cursor: pointer;
      max-height: 8px;
               
     }

   .animalslide{
      background: url('homeslide.jpg');/*black no-repeat; */
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height:750px;
      background-position: center;
      background-size: cover;
      background-clip: border-box;
      display: flex;
      background-attachment: fixed;  }

   .animalslide h2{
      color: rgb(214, 237, 237);
      text-align: center;
      margin-top: 12%;
      margin-left: 12.5%;
      font-family: 'segeo ui black','salsa';  
      font-size: 80px;
      cursor: pointer;
      max-height: 8px;
                  
        }
   .wilpattuslide{
      background: url('wilpattuwahome.jpg');
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height:700px;
      background-position: center;
      background-size: cover;
      background-clip: border-box;
      display: flex;
      background-attachment: fixed;  }
   
   .wipattuslide h2{
      color: aliceblue;
      text-align: center;
      margin-top: 20%;
      margin-left: 40%;
      font-family: 'wide latin';
      font-size: 40px;
      cursor: pointer;
      background-attachment: fixed;
      }
   

   .botanhead h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .botancontainer{
      display: flex;
      width: 100%;
      justify-content: center;
   }

   .botanpara p{
      color: black;
      font-size: 18px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
   }
   .botanimage img{
      max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
      height: 300px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 15%;
      margin-right: 20px;
      flex-direction: column;
      display: flex;
   }

   .birdcontainer{
      display: flex;
      width: 100%;
      justify-content: center;
   }
   .birdhead h2{
      font-size: 30px;
      color: black;
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';}

   .birdpara p{
      color: black;
      font-size: 18px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:right;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
   }
   .birdimage img{
      max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
      height: 300px; /* Maintain the aspect ratio of the image */
      float: left;
      object-fit: cover;
      border-radius: 15%;
      margin-right: 20px;
      padding: 13px;
      flex-direction: column;
      display: flex;
   }
   .safarihead h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .safaricontainer{
      
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
   }
   .safaripara p{
      color: black;
      font-size: 18px;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
   }
   .safariimage img{
      max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
      height: 300px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 15%;
      margin-right: 20px;
      display: flex;
   }   


   .wildcontainer{
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height: 400;
      background-position: center;
      background-size: cover;
      background-image: url('homesl3.jpg');
      background-repeat: 100%;
      background-attachment: fixed;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
   }
   .introhead h2{
      font-size: 35px;
      color: rgb(255, 255, 255);
      flex-direction: row;
      text-align: center;
      display: flex;
      justify-content:center;
      padding: 10px;
      flex: 1;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .wildpara p{
      color: rgb(255, 255, 255);
      font-size: 22px;
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 20px;
      flex: 1;
      font-family: Arial, Helvetica, sans-serif;
   }


   .dep_head2 h2{
      display: flex;
      flex-direction: row;
   }
   .dep_intr{
      display: flex;
      flex-direction:row;
   }
   .depimg1 img{
      display: flex;
      flex-direction:column;


   }
   .deppara2{
      display: flex;
      flex-direction: column; 
     }


   .depcontainer2{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      flex-flow: column wrap;
      align-items: stretch;      
      place-items: center;
      height: auto;
      margin-top: 5%;
    }
   .depcontainer2 p{
      color: black;
      display: flex;
      flex-direction: row;
   }
      .depgallery{
         flex-wrap: wrap;
         display: flex;
         padding: 20px;
         align-items: center;
         /* height: 50vh; */
         justify-content: center;
      }
      .content{    
         font-size: 30px;
         justify-content: space-between;
         display: flex;
         padding: 0 20px 20px;
      }
      .content img{
         width: 400px;
         height: 400px;
         object-fit: cover;
         display: flex;
         flex-direction: column;
         box-shadow: 0 15px 15px black;
         transition-timing-function: linear;
         transition-property: box-shadow;
         transition-duration: 0.3s;
      }      
         .content img:hover {
            box-shadow: 0 30px 30px black;
            opacity: 100;
         }  
   .depmapbox{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: auto;
      align-items: center;
      margin-top: 15%;
   }
   .depmapbox h2 {
      margin-bottom: 30px;
      font-size: 30px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
      display: flex;
      flex-direction: row;
   }
   .depmapbox iframe{
      width: 85%;
      height: 400px;
      display: flex;
      flex-direction: row;
   }
   .madurumap iframe{
      width: 100%;
      height: 400px;
      border-radius: 2%;
      display: flex;
      flex-direction: row;
   }


   .wasgamuwamap iframe{
      width: 100%;
      height: 400px;
      border-radius: 2%;
      display: flex;
      flex-direction: row;
   }
   
   .udawalawamap iframe{
      width: 100%;
      height: 400px;
      border-radius: 2%;
      display: flex;
      flex-direction: row;
   }

   .hortainplainsmap iframe{
      width: 100%;
      height: 400px;
      border-radius: 2%;
      display: flex;
      flex-direction: row;
   }   
     h2{
     text-align: center;
     }

   .morelocations img{
      max-width: 350px; /* Ensure the image doesn't exceed the width of its container */
      height: 300px; /* Maintain the aspect ratio of the image */
      display: flex;
      object-fit: cover;
      border-radius: 20%;
      margin-left: 2.5%;
   }

   .morelocations{
      border-radius: 5%;
   }
   .morelocations p{
      color: black;
      font-size: 15px;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 2.5%;
      padding-right: 2.5%;
   }
   .morelocations h2{      
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: center;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';

   }

   .maduruoyahead h1{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      flex-direction: row;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .maduruoyacont{
      
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
   }

   .maduruoyapara p{
      color: black;
      font-size: 16px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
   }
   .maduruoyabtn p{
      color: black;
      /* padding: 9px 9px 10px 10px; */
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      align-items:start;
      padding-top: 0%;
      padding-left:13px;
      display: flex;
      font-size: 18px;
      max-width: 150px;
  }
   .maduruoyabtn p:hover{
      text-decoration:underline;
   }
   .maduruoyabtn p:active{
      scale: 0.95;
   }
   .maduruoyaimage img{
      max-width: 450px; /* Ensure the image doesn't exceed the width of its container */
      height: 370px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 5%;
      margin: 20px;
      flex-direction: column;
      display: flex;
      border: 1px outset black;
   }
   .wasgamuwahead h1{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .wasgamuwacont{
      
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .wasgamuwapara p{
      color: black;
      font-size: 16px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
   }
   .wasgamuwabtn p{
      color: black;
      /* padding: 9px 9px 10px 10px; */
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      align-items:start;
      padding-top: 0%;
      padding-left: 13px;
      font-size: 18px;
      max-width: 150px;
  }
   .wasgamuwabtn p:hover{
      text-decoration:underline;
   }
   .wasgamuwabtn p:active{
      scale: 0.95;
   }
   .wasgamuwaimage img{
      max-width: 450px; /* Ensure the image doesn't exceed the width of its container */
      height: 370px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 5%;
      margin-right: 20px;
      flex-direction: column;
      display: flex;
      border: 1px outset black;
   }
   .udawalawahead h1{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .udawalawacont{
      
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
   }

   .udawalawapara p{
      color: black;
      font-size: 16px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
   }
   .udawalawabtn p{
      color: black;
      /* padding: 9px 9px 10px 10px; */
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      align-items:start;
      padding-top: 0%;
      padding-left: 13px;
      font-size: 18px;
      max-width: 150px;
      display: flex;
      flex-direction: column;
  }
   .udawalawabtn p:hover{
      text-decoration:underline;
   }
   .wasgamuwabtn p:active{
      scale: 0.95;
   }
   .udawalawaimage img{
      max-width: 450px; /* Ensure the image doesn't exceed the width of its container */
      height: 370px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 5%;
      margin-right: 20px;
      flex-direction: column;
      display: flex;
      border: 1px outset black;
   }

   .hortainplainshead h1{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .hortainplainscont{
      
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .hortainplainspara p{
      color: black;
      font-size: 16px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
   }
   .hortainplainsbtn p{
      color: black;
      /* padding: 9px 9px 10px 10px; */
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
      align-items:start;
      padding-top: 0%;
      display: flex;
      flex-direction: column;
      padding-left: 13px;
      font-size: 18px;
      max-width: 150px;
  }
   .hortainplainsbtn p:hover{
      text-decoration:underline;
   }
   .hortainplainsbtn p:active{
      scale: 0.95;
   }


table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

th, td {
   border: 1px solid #000000;
   padding: 12px;
   text-align: left;
}

th {
   background-color: #008509;
}

img {
   max-width: 100%;
   height: auto;
   border-radius: 5px;
}

footer {
   margin-top: 20px;
   text-align: center;
   color: #777;
}







   .hortainplainsimage img{
      max-width: 450px; /* Ensure the image doesn't exceed the width of its container */
      height: 370px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 5%;
      margin-right: 20px;
      flex-direction: column;
      display: flex;
      border: 1px outset black;
   }
   .maduruoya_more_para p{
      color: black;
      font-size: 15px;
      text-align: justify;
      display: flex;
      justify-content:left;
      flex-direction: column;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 2.5%;
      padding-right: 2.5%;
   }
   .maduruoya_more_head h2{
      font-size: 50px;
      color: rgb(0, 0, 0);
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content:center;
      font-family: 'Salsa';
      text-decoration: underline;
   }


   .maduruoya_more_image img{
      object-fit: cover;
      width: 800px;
      display: flex;
      margin-top: 10px;
      flex-direction: column;
      justify-content: right;
      float: right;
      padding-left: 1%;
      
   }

   .wasgamuwa_more_para p{
      color: black;
      font-size: 15px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 2.5%;
      padding-right: 2.5%;
   }
   .wasgamuwa_more_head h2{
      font-size: 50px;
      color: rgb(0, 0, 0);
      text-align: center;
      display: flex;
      justify-content:center;
      font-family: 'Salsa';
      flex-direction: row;
      text-decoration: underline;
   }


   .wasgamuwa_more_image img{
      object-fit: cover;
      width: 800px;
      display: flex;
      margin-top: 10px;
      justify-content: right;
      float: right;
      flex-direction: column;
      padding-left: 1%;
   }

   .udawalawa_more_para p{
      color: black;
      font-size: 15px;
      text-align: justify;
      display: flex;
      justify-content:left;
      padding: 13px;
      flex-direction: column;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 2.5%;
      padding-right: 2.5%;
   }
   .udawalawa_more_head h2{
      font-size: 50px;
      color: rgb(0, 0, 0);
      text-align: center;
      display: flex;
      justify-content:center;
      font-family: 'Salsa';
      text-decoration: underline;
      flex-direction: row;
   }


   .udawalawa_more_image img{
      object-fit: cover;
      width: 800px;
      display: flex;
      margin-top: 10px;
      justify-content: right;
      float: right;
      flex-direction: column;
      padding-left: 1%;
   }   

   .hortainplains_more_para p{
      color: black;
      font-size: 15px;
      text-align: justify;
      display: flex;
      justify-content:left;
      padding: 13px;
      flex-direction: column;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 2.5%;
      padding-right: 2.5%;
   }
   .hortainplains_more_head h2{
      font-size: 50px;
      color: rgb(0, 0, 0);
      text-align: center;
      display: flex;
      justify-content:center;
      font-family: 'Salsa';
      flex-direction: row;
      text-decoration: underline;
   }


   .hortainplains_more_image img{
      object-fit: cover;
      width: 800px;
      display: flex;
      margin-top: 10px;
      justify-content: right;
      float: right;
      flex-direction: column;
      padding-left: 1%;
   }   
   #maduruoya{
      border: 2px dotted black;
      border-radius: 2%;
   }
   #wasgamuwa{
      border: 2px dotted black;
      border-radius: 2%;}

   #udawalawa{
      border: 2px dotted black;
      border-radius: 2%; 
   }
   
   #hortainplains{
      border: 2px dotted black;
      border-radius: 2%;}


   .list_head h2{
      font-size: 25px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .list li{
      color: black;
      margin-left: 5%;
      text-align: left;
      font-size: 17px;
   }
   .list ul{
      margin-left: 3%;
   }

   .leopardsmain h1{
      font-size: 40px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Salsa';
      text-decoration: underline;}

   .leopardthreats_main h2{
      font-size: 40px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Salsa';
      text-decoration:underline;}

   .leopard_conservation_head h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .leopard_conservation{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   .leopard_p p{
      color: black;
      font-size: 17px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
   }

 
   .leopard_conservation_image img{
      max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
      height: 320px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 5%;
      margin-right: 20px;
      flex-direction: column;
      display: flex;
      border: 1px outset black;}


      #leopardsec{
         box-shadow: 0 3px 3px 3px black;
         transition-timing-function: linear;
         transition-property: box-shadow;
         transition-duration: 0.3s;
         border-radius: 2%;
      }      
         #leopardsec:hover {
            box-shadow: 0 22px 22px black;
            opacity: 100;
         }  
      
      
   .leop_udawa{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      }
   
   .leop_udawa_p p{
      color: black;
      font-size: 17px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
       font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
      }
   
    
   .leop_udawa_image img{
      max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
      height: 320px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 5%;
      margin-right: 20px;
      flex-direction: column;
      display: flex;
      border: 1px outset black;}

      .leop_udawa_head h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
      }

   .leop_hortain_head h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
         }
   .leop_hortain{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      }
      
   .leop_hortain_p p{
      color: black;
      font-size: 17px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
         }
      
       
   .leop_hortain_image img{
      max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
      height: 320px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 5%;
      margin-right: 20px;
      flex-direction: column;
      display: flex;
      border: 1px outset black;}


   .leop_knuckles_head h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
         }
   .leop_knuckles{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      }
         
   .leop_knuckles_p p{
      color: black;
      font-size: 17px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
       }
         
          
   .leop_knuckles_image img{
      max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
      height: 320px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 5%;
      margin-right: 20px;
      border: 1px outset black;}


   #deforest_leop{
      border: 2px dotted black;
      border-radius: 0%; 
   }   

   .deforest_head h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
         }

   .deforest_p p{
      color: black;
      font-size: 17px;
      text-align: justify;
      display: flex;
      justify-content:left;
      flex-direction: row;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
       }


   .deforest_conseq_head h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
        }
   
   .deforest_conseq_para p{
      color: black;
      font-size: 17px;
      text-align: justify;
      display: flex;
      flex-direction: row;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
         } 

   .deforest_image{
      max-width: 450px; /* Ensure the image doesn't exceed the width of its container */
      height: 200px; /* Maintain the aspect ratio of the image */
      object-fit: cover;
      margin-left: 13px;
      display: flex;
      flex-direction: column;
      border: 1px outset black;   
      float: right;
    }  


   .deforest_mecha_head h3{
      font-size: 22px;
      color: rgb(0, 0, 0);
      text-align: justify;
      justify-content:left;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi',sans-serif;
      text-decoration: underline;
   }
   .deforest_mecha_list ol li{
      color: black;
      font-size: 17px;
      justify-content:left;
      margin-left: 70px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
   }
   #conflict_leop{
      border: 2px dotted black;
      border-radius: 0%; 
   }
   .conflict_head h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
         }

   .conflict_p p{
      color: black;
      font-size: 17px;
      text-align: justify;
      display: flex;
      flex-direction: row;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
       }


   .conflict_conseq_head h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
        }
   
   .conflict_conseq_para p{
      color: black;
      font-size: 17px;
      text-align: justify;
      display: flex;
      flex-direction: row;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
         } 

   .conflict_image{
      max-width: 450px; /* Ensure the image doesn't exceed the width of its container */
      height: auto; /* Maintain the aspect ratio of the image */
      object-fit: cover;
      margin-left: 13px;
      flex-direction: column;
      display: flex;
      border: 1px outset black;   
      float: right;
    }  


   .conflict_mecha_head h3{
      font-size: 22px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      flex-direction:column;
      justify-content:left;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi',sans-serif;
      text-decoration: underline;
   }
   .conflict_mecha_list ol li{
      color: black;
      font-size: 17px;
      margin-left: 70px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
   }
   .mechabox{
      display: flex;
      flex-direction: column;
   }


   .indi_eleph_head h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .eleph_cont{
      
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
   }

   .indi_eleph_para p{
      color: black;
      font-size: 15.5px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
   }
   .indi_eleph_image img{
      max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
      height: 400px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 5%;
      margin-right: 13px;
      flex-direction: column;
      display: flex;
      border: 1px outset black;
   }

   .slothb_cont{
      
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 30px;
      flex-direction: row;
   }

   .indi_slothb_para p{
      color: black;
      font-size: 15.5px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      margin-left: 20px;
      font-family: Arial, Helvetica, sans-serif;
      padding-bottom: 0%;
   }
   .indi_slothb_image img{
      max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
      height: 400px; /* Maintain the aspect ratio of the image */
      float: left;
      object-fit: cover;
      margin-left: 13px;
      border-radius: 5%;
      flex-direction: column;
      display: flex;
      border: 1px outset black;
   }

   .indi_slothb_head h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';}
   
      .indi_lizard_head h2{
         font-size: 30px;
         color: rgb(0, 0, 0);
         flex-direction: row;
         text-align: justify;
         display: flex;
         justify-content:center;
         padding: 10px;
         font-family: 'Berlin Sans FB Demi', 'Stencil';
      }
      .lizard_cont{
         
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: center;
         padding-top: 30px;
      }
   
      .indi_lizard_para p{
         color: black;
         font-size: 15.5px;
         flex-direction: column;
         text-align: left;
         display: flex;
         justify-content:left;
         padding: 13px;
         font-family: Arial, Helvetica, sans-serif;
         padding-bottom: 0%;
      }
      .indi_lizard_image img{
         max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
         height: 400px; /* Maintain the aspect ratio of the image */
         float: right;
         object-fit: cover;
         margin-right: 13px;
         border-radius: 5%;
         flex-direction: column;
         display: flex;
         border: 1px outset black;
      }
      .indi_lizard_head h2{
         font-size: 30px;
         color: rgb(0, 0, 0);
         flex-direction: row;
         text-align: justify;
         display: flex;
         justify-content:center;
         padding: 10px;
         font-family: 'Berlin Sans FB Demi', 'Stencil';
      }

      .monkey_cont{
      
         width: 100%;
         display: flex;
         justify-content: center;
         flex-direction: row;
         padding-top: 30px;
      }
   
      .indi_monkey_para p{
         color: black;
         font-size: 15.5px;
         flex-direction: column;
         text-align: left;
         display: flex;
         flex-direction: column;
         justify-content:left;
         margin-left: 20px;
         font-family: Arial, Helvetica, sans-serif;
         padding-bottom: 0%;
      }
      .indi_monkey_image img{
         max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
         height: 400px; /* Maintain the aspect ratio of the image */
         float: left;
         object-fit: cover;
         margin-left: 13px;
         border-radius: 5%;
         flex-direction: column;
         display: flex;
         border: 1px outset black;
      }
   
      .indi_monkey_head h2{
         font-size: 30px;
         color: rgb(0, 0, 0);
         flex-direction: row;
         text-align: justify;
         display: flex;
         justify-content:center;
         padding: 10px;
         font-family: 'Berlin Sans FB Demi', 'Stencil';}

   .linkpage button{
      background-color: #085e0e;
      display: flex;
      flex-direction: column;
      width: 100px;
      height: auto;
      align-items: center;
      margin-left: 45%;
 }

   footer{
     text-align: center;
     bottom: 0%;
     background: linear-gradient(90deg, rgb(118, 135, 120) 0%, rgb(76, 86, 79) 0%, rgba(99, 101, 99, 0.928) 0%);
     width: 100%;
     box-sizing: border-box;
     }

     .newsletter-container {
         display: ruby-text;
         padding-top: 12px;
         padding-bottom: 12px;
     }
     .newsletter-container p {
      color: white;
      font-size: 16px;
     }

     .newsletter-container button{
         /* padding: 9px 9px 10px 10px; */
         background-color: rgb(34, 162, 49);
         border: none;
         border-radius: 10px;
         cursor: pointer;
         transition: all 0.3s ease 0s;
         align-items: center;
         width: 90px;
         height: 40px;
         font-size: 20px;     }
        .newsletter-container button :hover{
            background-color: darkblue;
         }
         .newsletter-container button:active{
            background-color: rgb(139, 51, 0);
            scale: 0.95;
         }
     
     .footmenu ul {
         display: flex;
         justify-content: center;
         list-style: none;
     } 
     .footmenu ul li a{
      color: rgb(255, 255, 255);
      margin: 25px;
      text-decoration: none;
      /* font-size: 2px; */

     }
     .footmenu ul li :hover{
      transition: 0s ease 0s;
      text-decoration: underline ;
     }
     .copyright {
         display: flex;
         color: rgb(9, 12, 15);
         font-weight: 10px;
         justify-content: center;
         /* font-size: 0.0px; */
         width: 100%;
         flex-direction: column;
     }


     .wrapper{
      display: flex;
      flex-flow: column wrap;
      text-align: center;
      justify-content: space-between;
      flex-direction: column;
     }
     .wrap_text{
      display: flex;
     }

     @media all and (max-width: 820px){
      .nav_head {
         display: none;
      }
      .menu {
         height: max-content;
      text-align: center;      }
      .navi_menu {
         flex-direction: column;
         align-content: center;
      }
      .animaml button{
         width: 50px;
      }
      .wrapper{
         display: none;
      }

      .home_nav {
         height: max-content;
      }
      .botancontainer{
        flex-direction:column;
        align-items: center;
      }
      .birdcontainer{
         flex-direction:column;
         align-items: center;
       }
      .safaricontainer{
            flex-direction:column;
            align-items: center;
      }
      .introslide{display:none;}

      .udawalawaslide{
         display: none;
      }
      .maduruoyaslide{
         display: none;
      }
      .hortainplainsslide{
            display: none;
      }
      .leopardslide{
         display: none;
      }
      
      .animalslide{
         display: none;
      }
      .homeslide{
         display: none;
      }
      .wasgamuwaslide{
         display: none;
      }
      .footmenu{
         display: none;
      }
      .dep_intr {
         flex-direction: column;
         width: 100%;
         align-items: center;
      }
      .depimg1 img{
         flex-direction: row;
         display: flex;
         width: 450px;

      }
      .deppara2{
         flex-direction: row;
         padding-left: 50px;
         padding-right: 50px;
      }
      content img{

         flex-direction: row;
      }
      content{
      flex-direction: row;
      }
      .depgallery{flex-direction: column;}

      .deforest_image{
         display: none;
      }
      .conflict_image{
         display: none;
      }
      .leopard_conservation{
         flex-direction: column;
         align-items: center;
      }
      .leopardsmain h1{
         flex-direction: row;
         align-items: center;
         font-size: 25px;

      }
      .leop_udawa{
         flex-direction: column;
         align-items: center;
      }
   .leop_hortain{
      flex-direction: column;
      align-items: center;
   }
   .leop_knuckles{
      flex-direction: column;
      align-items: center;
   }
   .leop_hortain_head h2{
      align-items: center;
   }
   #deforest_leop{
      flex-direction: row;
      align-items: center;
   }
   .deforest_conseq_head{
      flex-direction: row;
      padding: 0%;
      align-items: center;  
   }
   .deforest_conseq_para{
      flex-direction: row;

      align-items: center;
   }
   .mechabox {
      flex-direction: column;
   }
   #conflict_leop{
      flex-direction: row;
      align-items: center;
   }
   .conflict_conseq_head{
      flex-direction: row;
      padding: 0%;
      align-items: center;  
   }
   .conflict_conseq_para{
      flex-direction: row;

      align-items: center;
   }
   .deforest_head{
      flex-direction: row;
      align-items: center;
   }
   .deforest_p {
      flex-direction: row;
      align-items: center;
   }
   .conflict_head{
      flex-direction: row;
      align-items: center;
   }
   .conflict_p{
      flex-direction: row;
      align-items: center;
   }

   .indi_eleph_head{
      flex-direction: row;
      align-items: center;
   }
   .eleph_cont{
      flex-direction: column;
      align-items: center;
   }
   .indi_sloth_head{
      flex-direction: row;
      align-items: center;
   }
   .slothb_cont{
      flex-direction: column;
      align-items: center;
   }
   .indi_lizard_head{
      flex-direction: row;
      align-items: center;
   }
   .lizard_cont{
      flex-direction: column;
      align-items: center;
   }
   .monkey_cont{
      flex-direction: column;
      align-items: center;
   }
   .indi_monkey_image img{
      width: 420px;
   }
   .indi_slothb_image img{
      width: 420px;
   
   }
   .indi_eleph_image img{
      width: 420px;
      
   }
   .indi_lizard_image img{
      width: 420px;
   }
   .indi_monkey_head{
      flex-direction: row;
      align-items: center;
   }
   header{
      height: max-content;
   }

   th, td {
      padding: 8px;
  }
   }

      