* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    font-family: Verdana, Tahoma, sans-serif;;
    }
    header {
      display: flex;
      background: linear-gradient(90deg, rgb(118, 135, 120) 0%, rgb(76, 86, 79) 0%, rgba(99, 101, 99, 0.928) 0%);
      align-items: center;
      width: 100%;
      height: 122px;
      }

      li, a, button {
         font-family: 'Montserrat';
         font-size: 17px;
         color: whitesmoke;
         text-decoration: none;     
      }
     .logo img{
         width: 150px;
         height: 150px;
         /* margin-left: 0; */
         /* margin-right: 100px; */

         padding-top: 2%;
         display: inline;
     }
     .nav_head{
         width: auto;
         color: aliceblue;
         font-family: 'Bradley Hand ITC';
         margin-right: 19%;
        }
     .navi_menu{
         list-style: none;
         width: 100%;
         padding-top: 0%;

     }
     .navi_menu li {
        transition: all 0.3s ease 0s;
     }
     .navi_menu li :hover{
         color: rgb(231, 241, 230);
     }
     .navi_menu li {
        display: inline-block;
        justify-content: right;
        padding: 0px 10px;
     }
     button{
         padding: 9px 9px 10px 10px;
         background-color: rgb(34, 162, 49);
         border: none;
         border-radius: 10px;
         cursor: pointer;
         transition: all 0.3s ease 0s;
         align-items: center;
     }
         button:hover{
            background-color: darkblue;
         }
         button:active{
            background-color: rgb(139, 51, 0);
            scale: 0.95;
         }

      /* nav ul {
        list-style: none;
      } */
      /* .menu { */
         /* width: 100%;
         height: 40%;
     }

     .fixed {
        position: fixed;
        top: 50px;
        left: 50px;
     }

     .absolute {
        position: absolute;
        top: 25%;
        left: 50%;
    
     }

     .relative {
        position: relative;
        top: 300px;
        left: 100px;
      } */
    body {
     font-family: Arial, Helvetica, sans-serif;
     line-height: 1.6;
     background-color: gainsboro;

    }
     h2{
      text-align: center;
     }

    .wrapper{
        width: 100%;
        height: 150px;
        margin: 100px auto;
        display: flex;
        gap: 20px;
        justify-content: center;
        padding: 5px;

    }
    .imagelogo img {
        max-width: 250px; /* Ensure the image doesn't exceed the width of its container */
        height: 250px; /* Maintain the aspect ratio of the image */
        border-radius: 100%;
        border: 2px solid;
        float: left;
        object-fit: cover;
        margin-right: 20px;
        display: flex;
     }
    .wrap_text p{
        color: rgb(0, 0, 0);
        font-size: 26px;
        flex-direction: column;
        text-align: center;
        display: flex;
        /* justify-content:left;  delete*/
        padding: 10px;
        font-family: 'Matura MT Script Capitals','Bradley Hand ITC', fantasy;
         
      }

   .depcontainer{
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height: 740px;
      background-position: center;
      background-size: cover;
      background:url('homesl2.jpg') fixed center;
      background-repeat: 100%;
      background-attachment: fixed;
      }
   .dephead2 h2{
      font-size: 35px;
      color: rgb(0, 0, 0);
      flex-direction: column;
      text-align: center;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
      }
   .deppara2 p{
      color: rgb(0, 0, 0);
      font-size: 22px;
      flex-direction: column;
      text-align: left;
      display: inline;
      justify-content:left;
      font-family: Arial, Helvetica, sans-serif;
      }

   .depimg1 img{
      height: auto;
      width: auto;
      object-fit: cover;
      display: flex;
      float: left;
      display: flex;
      padding: 20px;
      flex-direction: column;
      }

   .homeslide{
      background: url('homesl7.jpeg');
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height:850px;
      background-position: center;
      background-size: cover;
      background-clip: border-box;
      display: flex;
      background-attachment: fixed;  }

   .introslide{
      background: url('hortainplains2.jpg')black no-repeat;
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height:750px;
      background-position: center;
      background-size: 100% 100%;
      background-clip: border-box;
      display: flex;
      background-attachment: fixed;  }
   .intropagetext{
      color: black;
      font-size: 22px;
      flex-direction: row;
      text-align: center;
      display: flex;
      justify-content:center;
      padding: 13px;

      font-family: Arial, Helvetica, sans-serif;
   }
   

   .oceanhead h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .oceancontainer{
      
      width: 100%;
      display: flex;
      justify-content: center;
   }

   .oceanpara p{
      color: black;
      font-size: 22px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
   }
   .oceanimage img{
      max-width: 350px; /* Ensure the image doesn't exceed the width of its container */
      height: 300px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 20%;
      margin-right: 20px;
      flex-direction: column;
      display: flex;
   }


   .birdhead h2{
      font-size: 30px;
      color: black;
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';}

   .birdpara p{
      color: black;
      font-size: 22px;
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content:right;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
   }
   .birdimage img{
      max-width: 350px; /* Ensure the image doesn't exceed the width of its container */
      height: 300px; /* Maintain the aspect ratio of the image */
      float: left;
      object-fit: cover;
      border-radius: 20%;
      margin-right: 20px;
      flex-direction: column;
      display: flex;
      padding-left: 15px;
   }
   .safarihead h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .safaricontainer{
      
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;
   }
   .safaripara p{
      color: black;
      font-size: 22px;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
   }
   .safariimage img{
      max-width: 350px; /* Ensure the image doesn't exceed the width of its container */
      height: 300px; /* Maintain the aspect ratio of the image */
      float: right;
      object-fit: cover;
      border-radius: 20%;
      margin-right: 20px;
      display: flex;
   }   


   .wildcontainer{
      margin:0%;
      padding: 0%;
      border: 0%;
      width: 100%;
      height: 400;
      background-position: center;
      background-size: cover;
      background-image: url('homesl3.jpg');
      background-repeat: 100%;
      background-attachment: fixed;
   }
   .introhead h2{
      font-size: 35px;
      color: rgb(255, 255, 255);
      flex-direction: row;
      text-align: center;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .wildpara p{
      color: rgb(255, 255, 255);
      font-size: 22px;
      flex-direction: row;
      text-align: justify;
      display: flex;
      justify-content:center;
      padding: 20px;
      font-family: Arial, Helvetica, sans-serif;
   }

   .depcontainer2{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      flex-flow: column wrap;
      align-items: stretch;      
      place-items: center;
      height: 100vh;
      margin-top: 5%;
    }
      .depgallery{
         flex-wrap: wrap;
         display: flex;
         flex-direction: row;
         padding: 20px;
         align-items: center;
         height: 50vh;
         justify-content: center;
      }
      .content{    
         font-size: 30px;
         justify-content: space-between;
         padding: 0 20px 20px;
      }
      .content img{
         width: 400px;
         height: 400px;
         object-fit: cover;
         box-shadow: 0 15px 15px black;
         transition-timing-function: linear;
         transition-property: box-shadow;
         transition-duration: 0.3s;
      }      
         .content img:hover {
            box-shadow: 0 30px 30px black;
            opacity: 100;
         }  
   .depmapbox{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: auto;
      align-items: center;
      margin-top: 15%;
   }
   .depmapbox h2 {
      margin-bottom: 30px;
      font-size: 30px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';
   }
   .depmapbox iframe{
      width: 85%;
      height: 400px;

   }

    p{
     font-size: 20px;
     text-align: center;
    }
     h2{
     text-align: center;
     }

   .maduruoyahead h2{
      font-size: 30px;
      color: rgb(0, 0, 0);
      flex-direction: row;
      text-align: center;
      display: flex;
      justify-content:center;
      padding: 10px;
      font-family: 'Berlin Sans FB Demi', 'Stencil';}

   .maduruoyapara p{
      color: black;
      font-size: 15px;
      text-align: left;
      display: flex;
      justify-content:left;
      padding: 13px;
      font-family: Arial, Helvetica, sans-serif;
      padding-left: 2.5%;
      padding-right: 2.5%;
   }
   .maduruoyaimage img{
      max-width: 350px; /* Ensure the image doesn't exceed the width of its container */
      height: 300px; /* Maintain the aspect ratio of the image */
      display: flex;
      object-fit: cover;
      border-radius: 20%;
      margin-left: 2.5%;
   }

    footer{
     text-align: center;
     bottom: 0%;
     background: linear-gradient(90deg, rgb(118, 135, 120) 0%, rgb(76, 86, 79) 0%, rgba(99, 101, 99, 0.928) 0%);
     width: 100%;
     box-sizing: border-box;
     }
     .footmenu {
         display: inline;
         margin:30px 0px;
     }
     .footmenu ul {
         display: flex;
         justify-content: center;
         list-style: none;
     } 
     .footmenu ul li a{
      color: rgb(255, 255, 255);
      margin: 25px;
      text-decoration: none;
      /* font-size: 2px; */

     }
     .footmenu ul li :hover{
      transition: 0s ease 0s;
      text-decoration: underline ;
     }
     .copyright {
         display: flex;
         color: rgb(9, 12, 15);
         font-weight: 10px;
         justify-content: center;
         /* font-size: 0.0px; */
         width: 100%;
     }
