*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    }

    header {
        display: flex;
        background: linear-gradient(90deg, rgb(118, 135, 120) 0%, rgb(76, 86, 79) 0%, rgba(99, 101, 99, 0.928) 0%);
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 122px;
        }
  
        li, a, button {
           font-family: 'Montserrat';
           font-size: 17px;
           color: whitesmoke;
           text-decoration: none;     
        }
       .logo img{
           width: 150px;
           height: 145px;
           /* margin-left: 0; */
           /* margin-right: 100px; */
           flex: 1;
           padding-top: 2%;
           display: inline;
       }
       .nav_head{
           width: auto;
           color: aliceblue;
           font-family: 'Bradley Hand ITC';
           margin-right: 19%;
           flex: 2;       }
        .menu {
           flex: 1;
        }
       .navi_menu{
           list-style: none;
           width: 100%;
           padding-top: 0%;
           display: flex;
       }
       .navi_menu li {
          transition: all 0.3s ease 0s;
  
       }
       .navi_menu li :hover{
           color: rgb(231, 241, 230);
       }
       .navi_menu li {
          display: inline-block;
          justify-content: right;
          padding: 0px 10px;
       }
       .navi_menu a{
        text-decoration: none;
        color: rgb(255, 255, 255);
       }
       button{
           padding: 9px 9px 10px 10px;
           background-color: rgb(34, 162, 49);
           border: none;
           border-radius: 10px;
           cursor: pointer;
           transition: all 0.3s ease 0s;
           align-items: center;
           width: 130px;
           height: 50px;
       }
           button:hover{
              background-color: darkblue;
           }
           button:active{
              background-color: rgb(139, 51, 0);
              scale: 0.95;
           }

       .wilpattuslide{
        background: url('wilpattuwahome.jpg');
        margin:0%;
        padding: 0%;
        border: 0%;
        width: 100%;
        height:850px;
        background-position: center;
        background-size: cover;
        background-clip: border-box;
        display: flex;
        background-attachment: fixed;  }
    
     .wilpattuslide h2{
        color: rgb(255, 255, 255);
        align-items: center;
        margin-top: 20%;
        height: max-content;
        border-radius: 5%;
        margin-left: 33%;
        font-family: 'segeo ui black';
        font-size: 80px;
        cursor: pointer;
        background-color: rgb(8, 105, 39);
        background-attachment: fixed;
        }

        .wilpattuwa_bas_head h2{
            font-size: 30px;
            color: rgb(0, 0, 0);
            flex-direction: row;
            text-align: justify;
            display: flex;
            justify-content:center;
            padding: 10px;
            font-family: 'Berlin Sans FB Demi', 'Stencil';
            animation: changeColor 3s infinite; /* Animation duration and iteration */
        }

        .wilpattuwa_bas{
            width: 100%;
            display: flex;
            justify-content: center;
            }
         
         .wilpattuwa_bas_para p{
            color: black;
            font-size: 17px;
            flex-direction: column;
            text-align: left;
            display: flex;
            padding: 13px;
            font-family: Arial, Helvetica, sans-serif;
            }
         
        .wilpattuwa_bas_image img{
            max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
            height: 320px; /* Maintain the aspect ratio of the image */
            float: left;
            object-fit: cover;
            border-radius: 5%;
            margin-right: 20px;
            flex-direction: column;
            display: flex;
            border: 1px outset black;}
       
                
       footer{
        text-align: center;
        bottom: 0%;
        background: linear-gradient(90deg, rgb(118, 135, 120) 0%, rgb(76, 86, 79) 0%, rgba(99, 101, 99, 0.928) 0%);
        width: 100%;
        box-sizing: border-box;
        }
        .footmenu {
            display: inline;
            margin:30px 0px;
   
        }
        .footmenu ul {
            display: flex;
            justify-content: center;
            list-style: none;
        } 
        .footmenu ul li a{
         color: rgb(255, 255, 255);
         margin: 25px;
         text-decoration: none;
         /* font-size: 2px; */
   
        }
        .footmenu ul li :hover{
         transition: 0s ease 0s;
         text-decoration: underline ;
        }
        .copyright {
            display: flex;
            color: rgb(9, 12, 15);
            font-weight: 10px;
            justify-content: center;
            /* font-size: 0.0px; */
            width: 100%;
            flex-direction: column;
        }