* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    }

    header {
        display: flex;
        background: linear-gradient(90deg, rgb(118, 135, 120) 0%, rgb(76, 86, 79) 0%, rgba(99, 101, 99, 0.928) 0%);
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 122px;
        }
  
        li, a, button {
           font-family: 'Montserrat';
           font-size: 17px;
           color: whitesmoke;
           text-decoration: none;     
        }
       .logo img{
           width: 150px;
           height: 145px;
           /* margin-left: 0; */
           /* margin-right: 100px; */
           flex: 1;
           padding-top: 2%;
           display: inline;
       }
       .nav_head{
           width: auto;
           color: aliceblue;
           font-family: 'Bradley Hand ITC';
           margin-right: 19%;
           flex: 2;       }
        .menu {
           flex: 1;
        }
       .navi_menu{
           list-style: none;
           width: 100%;
           padding-top: 0%;
           display: flex;
       }
       .navi_menu li {
          transition: all 0.3s ease 0s;
  
       }
       .navi_menu li :hover{
           color: rgb(231, 241, 230);
       }
       .navi_menu li {
          display: inline-block;
          justify-content: right;
          padding: 0px 10px;
       }
       .navi_menu a{
        text-decoration: none;
        color: rgb(255, 255, 255);
       }
       button{
           padding: 9px 9px 10px 10px;
           background-color: rgb(34, 162, 49);
           border: none;
           border-radius: 10px;
           cursor: pointer;
           transition: all 0.3s ease 0s;
           align-items: center;
           width: 130px;
           height: 50px;
       }
           button:hover{
              background-color: darkblue;
           }
           button:active{
              background-color: rgb(139, 51, 0);
              scale: 0.95;
           }

  body {
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.6;
   background-color: rgb(255, 255, 255);
  }
  
  .yalaslide{
    background: url('yala7.jpg');
    margin:0%;
    padding: 0%;
    border: 0%;
    width: 100%;
    height:850px;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    display: flex;
    background-attachment: fixed;  }

     .yala_bas{
        width: 100%;
        display: flex;
        justify-content: center;
        }
     
     .yala_bas_para p{
        color: black;
        font-size: 17px;
        flex-direction: column;
        text-align: left;
        display: flex;
        justify-content:left;
        padding: 13px;
         font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 0%;
        }
     
      
     .yala_bas_image img{
        max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
        height: 320px; /* Maintain the aspect ratio of the image */
        float: right;
        object-fit: cover;
        border-radius: 5%;
        margin-right: 20px;
        flex-direction: column;
        display: flex;
        border: 1px outset black;}
  
        .yala_bas_head h2{
        font-size: 30px;
        color: rgb(0, 0, 0);
        flex-direction: row;
        text-align: justify;
        display: flex;
        justify-content:center;
        padding: 10px;
        font-family: 'Berlin Sans FB Demi', 'Stencil';
        animation: changeColor 3s infinite; /* Animation duration and iteration */
    }
    
    @keyframes changeColor {
        0% {
            color: #3498db; /* Initial color */
        }
        50% {
            color: #e74c3c; /* Midway color */
        }
        100% {
            color: #2ecc71; /* Final color */
        }
        }


    .yala_hist{
        width: 100%;
        display: flex;
        justify-content: center;
        }
     
     .yala_hist_para p{
        color: black;
        font-size: 19px;
        flex-direction: column;
        text-align: left;
        display: flex;
        justify-content:left;
        padding: 13px;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 0%;
        }
     
      
     .yala_hist_image img{
        max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
        height: 320px; /* Maintain the aspect ratio of the image */
        float: right;
        object-fit: cover;
        border-radius: 5%;
        margin-right: 20px;
        margin-left: 10px;
        flex-direction: column;
        display: flex;
        border: 1px outset black;}
  
        .yala_hist_head h2{
        font-size: 30px;
        color: rgb(255, 255, 255);
        flex-direction: row;
        text-align: justify;
        display: flex;
        justify-content:center;
        padding: 10px;
        font-family: 'Berlin Sans FB Demi', 'Stencil';
        animation: changeColor 3s infinite; /* Animation duration and iteration */
        }
        
        @keyframes changeColor {
            0% {
                color: #3498db; /* Initial color */
            }
            50% {
                color: #e74c3c; /* Midway color */
            }
            100% {
                color: #2ecc71; /* Final color */
            }
        }
        
    #yala_histroy{
        /* background-color: rgb(70, 179, 70); */
        margin-left: 1%;
        border-radius: 13px;
        width: 98%;
        background: rgb(69,216,89);
        background: linear-gradient(90deg, rgba(69,216,89,1) 0%, rgba(42,135,67,0.9136904761904762) 35%, rgba(0,255,25,0.9276960784313726) 100%);
        box-shadow: 0 3px 10px 6px green;
        
    }

    #yala_loc{
        width: 100%;
        display: flex;
        justify-content: center;
        }
     
     .yala_loc_para p{
        color: black;
        font-size: 17px;
        flex-direction: column;
        text-align: left;
        display: flex;
        justify-content:left;
        padding: 13px;
         font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 0%;
        }
     
      
     .yala_loc_image img{
        max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
        height: 320px; /* Maintain the aspect ratio of the image */
        float: right;
        object-fit: cover;
        border-radius: 5%;
        margin-right: 20px;
        flex-direction: column;
        display: flex;
        border: 1px outset black;}
  
    .yala_loc_head h2{
        font-size: 30px;
        color: rgb(0, 0, 0);
        flex-direction: row;
        text-align: justify;
        display: flex;
        justify-content:center;
        padding: 10px;
        font-family: 'Berlin Sans FB Demi', 'Stencil';
        animation: changeColor 3s infinite; /* Animation duration and iteration */
    }
    
    @keyframes changeColor {
        0% {
            color: #3498db; /* Initial color */
        }
        50% {
            color: #e74c3c; /* Midway color */
        }
        100% {
            color: #2ecc71; /* Final color */
        }
        }

        #yala_animal{
            width: 100%;
            display: flex;
            justify-content: center;
            }
         
         .yala_ani_para p{
            color: black;
            font-size: 17px;
            flex-direction: column;
            text-align: left;
            display: flex;
            padding: 13px;
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 0%;
            }
         
      
        .yala_ani_head h2{
            font-size: 30px;
            color: rgb(0, 0, 0);
            flex-direction: row;
            text-align: justify;
            display: flex;
            justify-content:center;
            padding: 10px;
            font-family: 'Berlin Sans FB Demi', 'Stencil';
            animation: changeColor 3s infinite; /* Animation duration and iteration */
        }
        
        @keyframes changeColor {
            0% {
                color: #3498db; /* Initial color */
            }
            50% {
                color: #e74c3c; /* Midway color */
            }
            100% {
                color: #2ecc71; /* Final color */
            }
            }

        .yala_ani_gallery{
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            padding: 20px;
            align-items: center;
            justify-content: center;
             }
        .yala_ani_image{    
            font-size: 30px;
            justify-content: space-between;
            padding: 0 20px 20px;
             }
        .yala_ani_gallery img{
            width: 400px;
            height: 400px;
            object-fit: cover;
            box-shadow: 0 15px 15px black;
            transition-timing-function: linear;
            transition-property: box-shadow;
            transition-duration: 0.3s;
             }      
        .yala_ani_gallery img:hover {
            box-shadow: 0 30px 30px black;
            opacity: 100;
                } 


                  
        .yala_hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7); /* Adjust the background color and opacity */
            display: none;
            justify-content: center;
            align-items: center;
                }
                  
        .yala_ani_gallery:hover .yala_hover {
            display: flex;
            }
                  
        .yala_hover p {
            color: rgb(3, 2, 2); /* Adjust the text color */
            text-align: center;
            margin: 0;
                  }
                                 
        #yala_time{
            width: 100%;
            display: flex;
            justify-content: center;
            }
                 
        .yala_time_para p{
            color: black;
            font-size: 17px;
            text-align: left;
            display: flex;
            padding: 13px;
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 0%;
            }
                 
              
        .yala_time_head h3{
            font-size: 25px;
            color: rgb(0, 0, 0);
            flex-direction: row;
            text-align: justify;
            display: flex;
            justify-content:center;
            padding: 10px;
            font-family: 'Berlin Sans FB Demi', 'Stencil';
            text-decoration: underline;
            animation: changeColor 3s infinite; /* Animation duration and iteration */
        }
        
        @keyframes changeColor {
            0% {
                color: #3498db; /* Initial color */
            }
            50% {
                color: #e74c3c; /* Midway color */
            }
            100% {
                color: #2ecc71; /* Final color */
            }
            }
        .yala_time_good p{
            color: black;
            font-size: 17px;
            flex-direction: column;
            text-align: left;
            display: flex;
            padding: 13px;
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 0%;
            }

                
       .yala_open_para p{
            color: black;
            font-size: 17px;
            flex-direction: column;
            text-align: left;
            display: flex;
            padding: 13px;
            margin-left: 13px;
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 0%;
                }

        .yala_open_head h4{
            font-size: 25px;
            color: rgb(0, 0, 0);
            flex-direction: row;
            text-align: justify;
            display: flex;
            justify-content:center;
            padding: 10px;
            font-family: 'Berlin Sans FB Demi', 'Stencil';
            text-decoration: underline;
            animation: changeColor 3s infinite; /* Animation duration and iteration */
        }
        
        @keyframes changeColor {
            0% {
                color: #3498db; /* Initial color */
            }
            50% {
                color: #e74c3c; /* Midway color */
            }
            100% {
                color: #2ecc71; /* Final color */
            }
            }


    footer{
     text-align: center;
     bottom: 0%;
     background: linear-gradient(90deg, rgb(118, 135, 120) 0%, rgb(76, 86, 79) 0%, rgba(99, 101, 99, 0.928) 0%);
     width: 100%;
     box-sizing: border-box;
     }
     .footmenu {
         display: inline;
         margin:30px 0px;

     }
     .footmenu ul {
         display: flex;
         justify-content: center;
         list-style: none;
     } 
     .footmenu ul li a{
      color: rgb(255, 255, 255);
      margin: 25px;
      text-decoration: none;
      /* font-size: 2px; */

     }
     .footmenu ul li :hover{
      transition: 0s ease 0s;
      text-decoration: underline ;
     }
     .copyright {
         display: flex;
         color: rgb(9, 12, 15);
         font-weight: 10px;
         justify-content: center;
         /* font-size: 0.0px; */
         width: 100%;
         flex-direction: column;
     }

    
     @media all and (max-width: 800px){
        .nav_head {
           display: none;
        }
        .menu {
           height: max-content;
        text-align: center;      }
        .navi_menu {
           flex-direction: column;
           align-content: center;
        }
        header{
            height: max-content;
        }
        .footmenu{
            display: none;}
        
        .yalaslide{
            display: none;
        }
        .yala_bas{
            flex-direction: column;
            align-items: center;
        }
        .yala_hist{
            flex-direction: column;
            align-items: center;
        }
        #yala_loc{
            flex-direction: column;
            align-items: center;
        }
        #yala_animal{
            flex-direction: column;
            align-items: center;
        }
        #yala_time{
            flex-direction: column;
            align-items: center;
        }
        }