* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    }

header {
    display: flex;
    background: linear-gradient(90deg, rgb(118, 135, 120) 0%, rgb(76, 86, 79) 0%, rgba(99, 101, 99, 0.928) 0%);
    align-items: center;
    width: 100%;
    height: 122px;
    }

    li, a, button {
       font-family: 'Montserrat';
       font-size: 17px;
       color: whitesmoke;
       text-decoration: none;     
    }
   .logo img{
       width: 150px;
       height: 145px;
       /* margin-left: 0; */
       /* margin-right: 100px; */

       padding-top: 2%;
       display: inline;
   }
   .nav_head{
       width: auto;
       color: aliceblue;
       font-family: 'Bradley Hand ITC';
       margin-right: 19%;
      }
   .navi_menu{
       list-style: none;
       width: 100%;
       padding-top: 0%;

   }
   .navi_menu li {
      transition: all 0.3s ease 0s;
   }
   .navi_menu li :hover{
       color: rgb(231, 241, 230);
   }
   .navi_menu li {
      display: inline-block;
      justify-content: right;
      padding: 0px 10px;
   }
   button{
       padding: 9px 9px 10px 10px;
       background-color: rgb(34, 162, 49);
       border: none;
       border-radius: 10px;
       cursor: pointer;
       transition: all 0.3s ease 0s;
       align-items: center;
   }
       button:hover{
          background-color: darkblue;
       }
       button:active{
          background-color: rgb(139, 51, 0);
          scale: 0.95;
       }

  body {
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.6;
   background-color: rgb(255, 255, 255);
  }
  
  .yalaslide{
    background: url('yala7.jpg');
    margin:0%;
    padding: 0%;
    border: 0%;
    width: 100%;
    height:850px;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    display: flex;
    background-attachment: fixed;  }

 .yalaslide h2{
    color: aliceblue;
    text-align: center;
    margin-top: 20%;
    margin-left: 40%;
    font-family: 'wide latin';
    font-size: 40px;
    cursor: pointer;
    background-attachment: fixed;
    }

    .leop_bas_head h2{
        font-size: 30px;
        color: rgb(0, 0, 0);
        flex-direction: row;
        text-align: justify;
        display: flex;
        justify-content:center;
        padding: 10px;
        font-family: 'Berlin Sans FB Demi', 'Stencil';
        }
     .yala_bas{
        width: 100%;
        display: flex;
        justify-content: center;
        }
     
     .yala_bas_para p{
        color: black;
        font-size: 17px;
        flex-direction: column;
        text-align: left;
        display: flex;
        justify-content:left;
        padding: 13px;
         font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 0%;
        }
     
      
     .yala_bas_image img{
        max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
        height: 320px; /* Maintain the aspect ratio of the image */
        float: right;
        object-fit: cover;
        border-radius: 5%;
        margin-right: 20px;
        flex-direction: column;
        display: flex;
        border: 1px outset black;}
  
        .yala_bas_head h2{
        font-size: 30px;
        color: rgb(0, 0, 0);
        flex-direction: row;
        text-align: justify;
        display: flex;
        justify-content:center;
        padding: 10px;
        font-family: 'Berlin Sans FB Demi', 'Stencil';
        }


    .yala_hist{
        width: 100%;
        display: flex;
        justify-content: center;
        }
     
     .yala_hist_para p{
        color: black;
        font-size: 19px;
        flex-direction: column;
        text-align: left;
        display: flex;
        justify-content:left;
        padding: 13px;
         font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 0%;
        }
     
      
     .yala_hist_image img{
        max-width: 400px; /* Ensure the image doesn't exceed the width of its container */
        height: 320px; /* Maintain the aspect ratio of the image */
        float: right;
        object-fit: cover;
        border-radius: 5%;
        margin-right: 20px;
        margin-left: 10px;
        flex-direction: column;
        display: flex;
        border: 1px outset black;}
  
        .yala_hist_head h2{
        font-size: 30px;
        color: rgb(255, 255, 255);
        flex-direction: row;
        text-align: justify;
        display: flex;
        justify-content:center;
        padding: 10px;
        font-family: 'Berlin Sans FB Demi', 'Stencil';
        }
    #yala_histroy{
        /* background-color: rgb(70, 179, 70); */
        margin-left: 1%;
        border-radius: 13px;
        width: 98%;
        background: rgb(69,216,89);
        background: linear-gradient(90deg, rgba(69,216,89,1) 0%, rgba(42,135,67,0.9136904761904762) 35%, rgba(0,255,25,0.9276960784313726) 100%);
        box-shadow: 0 3px 10px 6px green;
    }